main {
  view-transition-name: main;
}

@keyframes fade-in {
  from { opacity: 0; }
}

@keyframes fade-out {
  to { opacity: 0; }
}

@keyframes slide-from-right {
  from { transform: translateX(30px); }
}

@keyframes slide-to-left {
  to { transform: translateX(-30px); }
}

::view-transition-old(main) {
  animation: 200ms cubic-bezier(0.4, 0, 1, 1) both fade-out,
    1000ms cubic-bezier(0.4, 0, 0.2, 1) both slide-to-left;
}

::view-transition-new(main) {
  animation: 300ms cubic-bezier(0, 0, 0.2, 1) 90ms both fade-in,
    1000ms cubic-bezier(0.4, 0, 0.2, 1) both slide-from-right;
}


.dashboard-item .icon-dashboard svg {
  font-size: 70px;
  position: absolute;
  right: 15px;
  top: 15px;
  transition: -webkit-transform 0.3s linear;
  transition: transform 0.3s linear;
  transition: transform 0.3s linear, -webkit-transform 0.3s linear;
}

.dashboard-item .icon-dashboard svg:hover {
  scale: 1.1;
}

.link {
  @apply p-2.5 flex rounded-md gap-6 items-center md:cursor-pointer cursor-default duration-300 font-bold;
}

.active {
  @apply text-blue-600 bg-black;
}

.input-form {
  @apply w-full border
}

.input-form-login {
  @apply mt-2 rounded-3xl bg-sky-100 px-4 focus:border-sky-500 focus:bg-white focus:outline-none
}



