@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&family=Play:wght@700&display=swap');

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "./flex.css";
@import "./grid.css";
@import "./components.css";

@layer base {
  body {
    background: #f1f1f1;
  }
}

.w-33 {
  @apply w-2/3;
}

.w-100 {
  @apply w-full;
}

.height-10 {
  @apply h-11;
  transition: all 0.4s ease-in-out;
}

.height-24 {
  @apply h-24;
  transition: all 0.4s ease-in-out;
}

@tailwind utilities;
